<div class="banner">
  <div class="site-header__offset"></div>
  <div class="banner__bg bv-parallax" style="background-image: url('{{site.img}}/content/{{page.id}}/hero.jpg'); {{page.banner.bg-pos}}"></div>
  <div class="banner__wrap">
    {% if page.banner.content %}
      {{page.banner.content | liquify}}
    {% elsif layout.banner.content %}
      {{layout.banner.content | liquify}}
    {% else %}
      <div class="container container--no-padding text--left">
        {% if page.banner.title-sup %}<h2 class="sub-title {{page.banner.title-sup-size}}"><span class="bg--green" style="padding:10px 10px 0px 10px;">{{page.banner.title-sup}}</span></h2>{% endif %}
        <h1 class="banner-title"><span class="bg--green" style="padding:12px 12px 0px 12px;">{% if page.banner.title %}{{page.banner.title}}{% else %}{{page.title}}{% endif %}</span></h1>
        {% if page.banner.title-sub %}<h2 class="sub-title {{page.banner.title-sub-size}}" ><span class="bg--green" style="padding:10px 10px 5px 10px;">{{page.banner.title-sub}}</span></h2>{% endif %}
      </div>
    {% endif %}
  </div>
  <div class="banner__nav">
    {% include nav/site.html %}
  </div>
  <div class="site-nav__offset"></div>
</div>
