// moidifiers for the site footer theme, is passed as an option on include

$footer-nav-color: $black;

.site-nav {
  &--footer {
    background-color: rgba($footer-nav-color,.9);
    &:before { background-image: url("../img/icons/nav-arrow-footer.svg"); }
  }
  &--footer &__link {
    color: $white;
    &.is-current      { background-color: rgba($footer-nav-color,.75); }
    .no-touch &:hover { background-color: rgba($footer-nav-color,1); }
  }
}
