// general styles for the project that wouldn't be a reuseable component



/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;
    }
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

      }

}

/* ==========================================================================
   Dividers & Alignment
   ========================================================================== */

   .bv-divider::after{
     content: '-------';
     display: block;
     font-weight: 300;
     font-size: 3vh;
     letter-spacing: -2px;
     margin-top: 2px;
     margin-bottom: 2px;
}


/* ==========================================================================
   Modal Thumbnails
   ========================================================================== */

.bv-modal-thumbn{
  background-size: 145%;
  transition-duration: 0.2s;
}

.bv-modal-thumbn:hover{
  background-size: 155%;
}



/* ==========================================================================
Flight/Config tag - Offers
========================================================================== */

.flight-tag {
  position: absolute;
  top: $s-2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}

.both-tags {
  position: absolute;
  top: $s2;
  left: $s-2;
  display: block;
  width: 50%;
  @include bp($sm){
    top: $s0;
    left: $s0;
    width: 146px;
  }
}
