// general styles for the project that wouldn't be a reuseable component



/* ==========================================================================
   Parallax
   ========================================================================== */

.bv-parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


@media only screen and (max-width: 1024px) {

.bv-remove-bg{
  background-image: none!important;

  &--black{
    background-image: none!important;
    background-color: #000;
    }
}

.bv-parallax{
      background-attachment: scroll;
      background-size: cover;

      }

}
